/*Coded by MOEEN ARSHAD*/

* {	margin: 0;
	padding: 0;
}
body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	background-color: #9FDEE0;



}

	#top_region{
		text-align:center;
		text-transform:uppercase;
		font-style:inherit;
		font-weight:bold;
		font-size:175%;
		background-color: #70C4C7;
		height: 10%;
		padding: 0.5%;
		margin: 0.5%;
		
	}
	
	#left_region{
		text-align:center;
		float: left;
		width: 20%;
		height: 80%;
		color: white;
		background-color: #663399;
		padding: 0.5%;
		margin: 0.25% 0.25% 0.25% 0.5%;

	}
	#center_region{
		text-align:center;
		float: left;
		width: 33.5%;
		height: 80%;
		background-color: #0CEDF5;
		padding: 0.5%;
		margin: 0.25% 0.25% 0.25% 0.25%;
	}
	
	#right_region{
		text-align:center;
		float: left;
		width: 20%;
		height: 80%;
		background-color:#99FF99;
		padding: 0.5%;
		margin: 0.25% 0.25% 0.25% 0.25%;
		
	}

	#bottom_region{
		text-align:center;
		float: right;
		width: 20%;
		height: 80%;
		color:white;
		text-decoration:blink;
		background-color:#663399;
		padding: 0.5%;
		margin: 0.25% 0.5% 0.25% 0.25%

	}
	